deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "variables": {
    "Self Destruct Groups App Name": "self-destruct-group-app"
  },
  "resources": [
    {
      "name": "[variables('Self Destruct Groups App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 50
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "current-hour": {
              "inputs": "@formatDateTime(utcNow(), 'HH')",
              "runAfter": {},
              "type": "Compose"
            },
            "get-resource-groups": {
              "inputs": {
                "authentication": {
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourcegroups?api-version=2018-05-01"
              },
              "runAfter": {},
              "type": "Http"
            },
            "parse-groups": {
              "inputs": {
                "content": "@body('get-resource-groups')",
                "schema": {
                  "properties": {
                    "value": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "managedBy": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "properties": {
                            "properties": {
                              "provisioningState": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "tags": {
                            "properties": {},
                            "type": "object"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "location",
                          "properties"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-resource-groups": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "subscriptionId": {
              "type": "string"
            }
          }
        },
        "parameters": {
          "subscriptionId": {
            "value": "[subscription().subscriptionId]"
          }
        }
      }
    }
  ],
  "outputs": {
    "Managed Identity": {
      "type": "object",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('Self Destruct Groups App Name')), '2017-07-01', 'Full').identity]"
    }
  }
}